
header {
  background-color: #4267b2;

}


.container-fluid{
  margin-top:70px;
}

#main,
#menu,
#sidebar {
height: 600px;
}

#main,
#menu,#sidebar {
  background-color: #e9ebee;
}

#header {
    background-color: #4267b2;
    color: white;
    min-height:43px !important;
    max-height:43px !important;
    position:navbar-fixed-top;

}


#header .white-text{
	color:white;
}
#header ul .glyphicon {
    font-size: 20px;
}
#nav_brand{
  padding-top: 10px;
  padding-bottom: 5px;
  height: 35px;
}


  .form-control{
    height: 25px !important;
  }
  #search-button{
    /*font-size: :30px;*/
    height: 26px;
    padding-top: 3px;
    padding-right: -44px;
    padding-bottom:3px;
  }
}
//child selector
ul> .glyphicon{

}
.profile-img{
	background-image:url("F:\photos\shimla&chandigarh college trip\IMG_20160113_173532")
}
#header .profile-img{
    margin-top:0px;
    margin-right:20px;
    float: left;
    background-image: url("F:\edu\acadview\project1\IMG_20160113_173532.jpg") 50% 50% no-repeat; /* 50% 50% centers image in div */

    width: 30px;
    height: 30px;
}
.list-heading {
    padding: 20px 15px 0 15px;
}
#search-button{
  margin-left:-8px;
}
#menu a{
  color:#1d2129;
}
#menu p{
  color:brown;
}
.icon-padding{
  padding-right:4px;
}
#header .badge{
  background-color:red;
  font-size:11px;
  padiing:-5px 1px 1px 1px;
  position:relative;

  top:-15px;
  left:-5px;
}

#header .dropdown-menu .badge
{
  padiing:-8px 1px 1px 1px;
  position:relative;
}
#menu .badge{
  background-color:red;
  font-size:11px;
  padding:-4px 1px 1px 1px;
  position:relative;
  top:-8px;

}
body{
  margin-bottom:70px;
  background-color: #e9ebee;
}
.form-control .btn
{
  padding-left:0px;
  padding-right:12px;
}


.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}

.divider-link {
    border-left: 1px solid rgba(0,0,0,0.2);
    height: 48px;

}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}
.video-post{
  margin-bottom:15px;
}
#main,#sidebar {
    overflow: auto;
}
#main::-webkit-scrollbar {
    display: none;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
.comment {
    margin: 0;
}
.spacing{
  height: 30px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  padding-right:15px !important;
  width:45px !important;
  margin-top:3px;
}
.dropdown{
    height: 28px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 15px !important;
}
.bar-property
{

    padding-top: 3px !important;
    height: 26px !important;
    width: 436px !important;
    padding-bottom:3px !important;

}
#main .panel-heading{
   height:61px ;
   background-color:white;
   border:0px;

}
#main .panel-footer{
  font-size:13px;
}
#main .shaded-font{
  color:#90949c;
}
#main .border-bottom{
  border-bottom:1px solid #e5e5e5 !important;
}
.reply-list {
    margin-left: 32px;
    margin-top: 5px;
    padding-left: 10px;
    border-left: 2px solid #e5e5e5;
}
